@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Gasoek+One&family=Oswald&family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;

}
body{
    display: flex;
    flex-direction: column;
    background-color:black;
}
.navbar{
    border: 3px solid rgb(15, 203, 227);
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    height: 10vh;
    margin-bottom: 5vh;  
}
.item a{
    color:wheat;
}
.item{
    color: white;
    transition-property: all;
    transition-duration: 2s;
}
.item:hover{
    cursor: pointer;
    font-size: 3.5rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid rgb(15, 203, 227) ;
}
.footer p{
    color: wheat;
    font-size: 2.5rem;
}
.footer p:hover{
    cursor: pointer;
}
#social{
    background-color: rgb(20, 159, 223);
    height: 6vh;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
}
.social{
    margin-top: -3.5vh;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border:2px solid rgb(15, 203, 227);
    font-size: 4rem;
    color:whitesmoke;
    transition: all;
    transition-duration: 2s;
    height:95vh;
}
.content p:hover{
    font-size:5.5rem ;
    cursor: pointer;
}
@media screen and (min-width:360px) and (max-width:640px){
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    background-color:black;
}
.navbar{
    border: 3px solid rgb(15, 203, 227);
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    height: 10vh;
    overflow: hidden;    
}
.item a{
    color:wheat;
}
.item{
    color: white;
    transition-property: all;
    transition-duration: 2s;
}
.item:hover{
    cursor: pointer;
    font-size: 3.5rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid rgb(15, 203, 227);
}
.footer p{
    color: wheat;
    font-size: 1rem;
}
.footer p:hover{
    cursor: pointer;
}
.content{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgb(15, 203, 227);
    font-size: 0.9rem;
    color:whitesmoke;
    height:80vh;
    width:100vw;
    transition: all;
    transition-duration: 2s;
}
.content p:hover{
    font-size:1.8rem ;
}

#social{
    background-color: rgb(20, 159, 223);
    height: 3vh;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
}
.social{
    margin-top: -3.5vh;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
@media screen and (min-width:768px) and (max-width:1000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    body{
        display: flex;
        flex-direction: column;
        background-color:black;
    }
    .navbar{
        border: 3px solid rgb(15, 203, 227);
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2.5rem;
        height: 10vh;
        overflow: hidden;    
    }
    .item a{
        color:wheat;
    }
    .item{
        color: white;
        transition-property: all;
        transition-duration: 2s;
    }
    .item:hover{
        cursor: pointer;
        font-size: 3.5rem;
    }
    
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border: 2px solid rgb(15, 203, 227);
    }
    .footer p{
        color: wheat;
        font-size: 2rem;
    }
    .footer p:hover{
        cursor: pointer;
    }
    .content{
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 2px solid rgb(15, 203, 227);
        font-size: 2rem;
        color:whitesmoke;
        height:80vh;
        width:100vw;
        transition: all;
        transition-duration: 2s;
    }
    .content p:hover{
        font-size:1.8rem ;
    }
    
    #social{
        background-color: rgb(20, 159, 223);
        height: 3vh;
        cursor: pointer;
        border: 2px solid black;
        border-radius: 50%;
    }
    .social{
        margin-top: -3.5vh;
        /* border: 2px solid blue; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}