@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Gasoek+One&family=Oswald&family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;

}
body{
    background-color:black;
}
.navbar{
    border: 3px solid rgb(15, 203, 227);
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    height: 10vh;  
}
.item a{
    color:wheat;
}
.item{
    color: white;
    transition-property: all;
    transition-duration: 2s;
}
.item:hover{
    cursor: pointer;
    font-size: 3.5rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid rgb(15, 203, 227) ;
    margin-top: 1.2vh;
}
.footer p{
    color: wheat;
    font-size: 2.5rem;
}
.footer p:hover{
    cursor: pointer;
}
.main{
    background-color: #48cae4;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.clock{
    background-color: #0077b6;
    height: 50vh;
    width: 50vw;

    display: flex;

    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(40px);
}
span {
    color: black;
    font-size: 2rem;
}

#clock {
    font-size: 6rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}


@media screen and (min-width:360px) and (max-width:640px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    body{
        background-color:black;
    }
    .navbar{
        border: 3px solid rgb(15, 203, 227);
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1rem;
        height: 10vh;
        overflow: hidden;    
    }
    .item a{
        color:wheat;
    }
    .item{
        color: white;
    
        transition-property: all;
        transition-duration: 2s;
    }
    .item:hover{
        cursor: pointer;
        font-size: 3.5rem;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border: 2px solid rgb(15, 203, 227) ;
        margin-top: 1.5vh;
    }
    .footer p{
        color: wheat;
        font-size: 1rem;
    }
    .footer p:hover{
        cursor: pointer;
    }
    .main{
        background-color: #48cae4;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .clock{
        background-color: #0077b6;
        height: 50vh;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        backdrop-filter: blur(40px);
    }
    
    #clock {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 20vh;
        font-size: 2rem;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
        padding: 5vh;
    }
}


@media screen and (min-width:768px) and (max-width:1000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    body{
        background-color:black;
    }
    .navbar{
        border: 3px solid rgb(15, 203, 227);
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2.5rem;
        height: 10vh;
        overflow: hidden;    
    }
    .item a{
        color:wheat;
    }
    .item{
        color: white;
    
        transition-property: all;
        transition-duration: 2s;
    }
    .item:hover{
        cursor: pointer;
        font-size: 3.5rem;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border: 2px solid rgb(15, 203, 227) ;
        margin-top: 1.5vh;
    }
    .footer p{
        color: wheat;
        font-size: 2rem;
    }
    .footer p:hover{
        cursor: pointer;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    body{
        background-color:black;
    }
    .navbar{
        border: 3px solid rgb(15, 203, 227);
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 2rem;
        height: 10vh;
        overflow: hidden;    
    }
    .item a{
        color:wheat;
    }
    .item{
        color: white;
    
        transition-property: all;
        transition-duration: 2s;
    }
    .item:hover{
        cursor: pointer;
        font-size: 3.5rem;
    }
    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        border: 2px solid rgb(15, 203, 227) ;
        margin-top: 1.5vh;
    }
    .footer p{
        color: wheat;
        font-size: 2rem;
    }
    .footer p:hover{
        cursor: pointer;
    }
    .main{
        background-color: #48cae4;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .clock{
        background-color: #0077b6;
        height: 50vh;
        width: 80vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        backdrop-filter: blur(40px);
    }
    h1{
        font-size: 6rem;
    }
    #clock {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 20vh;
        font-size: 5rem;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
        padding: 5vh;
    }
}